    @charset "UTF-8";
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body {
        background-image: linear-gradient(-90deg, aqua, rgb(46, 183, 190)70%);
    }
    
    body h1 {
        padding-top: 30px;
        text-align: center;
        color: rgb(59, 59, 59);
        text-decoration: none;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.486);
        user-select: none;
    }
    
    body ul {
        margin-top: 100px;
        list-style: none;
        display: grid;
        gap: 60px;
        justify-items: start;
        margin-left: 200px;
    }
    
    body ul li a {
        color: rgb(34, 34, 34);
        text-decoration: none;
        background-color: rgb(204, 204, 204);
        padding: 13px;
        border-radius: 10px;
        font-size: 20px;
        transition: 0.3s;
        color: transparent;
    }
    
    body ul li a.botao2 {
        padding-right: 50px;
    }
    
    body ul li a:hover {
        box-shadow: 4px 6px 14px rgba(0, 0, 0, 0.575);
        color: black;
        background-color: #002780/#CF0921;
    }